@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-dark-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-dark-600 rounded-full;
  }
}
